h4{
    font-weight: 600;
}
p{
    font-size: 12px;
    margin-top: 5px;
}
.price{
    font-size: 24px;
    margin: 0 auto;
    color: #333;
    margin-top: 5px;
}
.right{
    float:right;
    border-bottom: 2px solid #269abc;
}
.thumbnail{
    opacity:0.70;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.thumbnail:hover{
    opacity:1.00;
    box-shadow: 0px 0px 10px #33B97F;
}
.line{
    margin-bottom: 5px;
}

.btn {
    border-radius: 10px;
}

@media screen and (max-width: 770px) {
    .right{
        float:left;
        width: 100%;
        /*margin-bottom: 10px;*/
    }
    .curso-mobile {
        margin-bottom: 100px;
    }
}